.right {
  text-align: right;
}

.tag {
  border: none;
  box-shadow: none;

	min-width: 20px;
	max-width: 100%;
	min-height: 20px;
	padding: 2px 6px;
	line-height: 16px;

	border-radius: 30px;
	padding-right: 8px;
	padding-left: 8px;
}

.blue {
  background: #137cbd;
  background-color: rgba(19,124,189,.15);
  color: #106ba3;
}

.green {
  background: #0f9960;
	background-color: rgba(15,153,96,.15);
	color: #0d8050;
}

.orange {
  background: #d9822b;
      background-color: rgba(217,130,43,.15);
          color: #bf7326;


}

.box {
	display: inline-block;
	height: 38px;
	padding: 0 10px;
	/* color: #555; */
	text-align: center;
	/* font-size: 11px; */
	/* font-weight: 600; */
	line-height: 38px;
	letter-spacing: .1rem;
	/* text-transform: uppercase; */
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
}
