body {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

.right {
  text-align: right;
}

.spacer {
  margin-bottom: 10px;
}

.tag {
  border: none;
  box-shadow: none;
	min-width: 20px;
	max-width: 100%;
	min-height: 20px;
	padding: 2px 6px;
	line-height: 16px;
	border-radius: 30px;
	padding-right: 8px;
	padding-left: 8px;
}

.blue {
  background: #137cbd;
  background-color: rgba(19,124,189,.15);
  color: #106ba3;
}

.green {
  background: #0f9960;
	background-color: rgba(15,153,96,.15);
	color: #0d8050;
}

.orange {
  background: #d9822b;
  background-color: rgba(217,130,43,.15);
  color: #bf7326;
}

.box {
	display: inline-block;
	height: 30px;
	padding: 0 10px;
	text-align: center;
	line-height: 30px;
	letter-spacing: .1rem;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #bbb;
	box-sizing: border-box;
}

.nav {
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.nav-item a {
	color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid black;
}

.nav-item.active a {
	/* border-left: 5px solid #137cbd; */
  /* text-decoration-color: #; */
  border-bottom: 1px solid #137cbd;
}

.nav-item {
	display: inline-block;
}
.nav-item:not(:first-child) {
	padding-left: 15px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  flex-direction: row;
  margin-right: 40px;
}
